@import 'vars';

.container {
    margin: $mb_auto;
    max-width: 1330px;
    padding: 0 20px;

    &__fluid {
        margin: $mb_auto;
        padding: 0 20px;
        max-width: 1530px;
    }
}

.title {
    color: $primary_color;
    margin-bottom: 15px;
    letter-spacing: -0.05em;

    & h1 {
        font-size: max(48px,min(5vw,76px));
        background: linear-gradient(180deg, #555, $fg_color);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: $bolder_font_weight;
    }

    & h2 {
        font-size: $h2_font_size;
        font-weight: $bold_font_weight;
    }

    & h3 {
        font-size: $h3_font_size;
        font-weight: $medium_font_weight;
    }
}

.info {
    // font-size: max(15px,min(2vw,20px));
    font-size: $p_font_size;
    font-weight: $lighter_font_weight;
    margin-top: 5px;
    color: $secondary_color;
    line-height: 22px;
}

.inner {
    padding: $pd_medium;
    // position: relative;

    &__small{
        padding: $pd_small;
    }
    
    &__big{
        padding: $pd_big;
    }
}

button {
    font-size: $button_font_size !important;
    font-weight: $light_font_weight !important;
    border-radius: $button_radius;
    cursor: pointer;
    padding: $pd_button;
    display: flex;
    align-items: center;
    &.primary {
        border: 2px solid $accent_color;
        background-color: $accent_color;
        color: $bg_color;
    }

    &.secondary {
        background-color: $bg_color;
        color: $accent_color;
        border: 2px solid $accent_color;
        // width: 100%;
    }

    &.text{
        border: none;
        background-color: $bg_color;
        color: $accent_color;
        border: none;
    }

    & svg{
        margin-right: 7px;
    }
}

.list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:30px;
    margin-top: 40px;
    &__mini{
        grid-template-columns: 1fr 1fr 1fr;
        display: grid;
        gap:30px;
        margin-top: 40px;
    }
}

.link{
    color: $secondary_color;
    transition: color 0.15s ease;
    cursor: pointer;
    font-size: $p_font_size;
    font-weight: $medium_font_weight;
    &.active{
        color: $primary_color;
    }
    &:hover{
        color: $primary_color;
    }
}