@import 'vars';

*,
*::before,
*::after {
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    height: 100%;
}

body {
    overflow-x: hidden;
    color: $secondary_color;
    margin: 0;
}

html {
    box-sizing: border-box;
}

section {
    overflow: hidden;
    position: relative;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

ul[class],
ol[class] {
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl {
    margin: 0;
    font-size: inherit;
}

ul,
li[class] {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
    position: relative !important;
    object-fit: cover;
    transition: transform .25s ease;
    vertical-align: middle;
    // aspect-ratio: 1 / 1;
}

input,
button,
textarea,
select {
    font: inherit;
    border: none;
}

a{
    text-decoration: none;
}

.link{
    color: $secondary_color;
    transition: color 0.15s ease;
    cursor: pointer;
    &.active{
        color: $primary_color;
    }
    &:hover{
        color: $primary_color;
    }
}

// input[type="email"],
// input[type="text"],
// input[type="password"],
// input[type="number"],
// select,
// textarea {
//     &::placeholder{
//         color: $bg_color_darker;
//     }
//     border: none;
//     padding: $pd_input;
//     border-radius: $input_radius;
//     font-size: $input_font_size;
//     background-color: $bg_color;
//     color: $primary_color;
//     resize: none;
//     border: 2px solid $bg_color_lighter;
//     width: 100%;
    
//     &:hover{
//         border: 2px solid $accent_color
//     }
//     &:focus{
//         border: 2px solid $accent_color;
//     }
// }

// input[type="number"]{
//     margin-bottom: 0;
// }

// input[type="search"]{
//     padding: 15px 5px;
//     // border-radius: $input_radius;
//     font-size: $input_font_size;
//     background-color: $bg_color;
//     color: $primary_color;
//     resize: none;
//     border-bottom: 2px solid $bg_color_lighter;
//     &:hover{
//         border-bottom: 2px solid $primary_color;
//     }
//     &:focus{
//         border-bottom: 2px solid $primary_color;
//     }
//     &::placeholder{
//         color: $bg_color_darker;
//     }
// }

// input,
// textarea{
//     &:disabled{
//         cursor: not-allowed;
//     }
// }

// select{
//     transition: all 0.2s ease-in-out;
//     &:disabled{
//         cursor: not-allowed;
//     }
//     &:hover{
//         border: 2px solid $accent_color;
//     }
// }

// input[type="file"] {
//     border: none;
//     font-size: $input_font_size;
//     margin-bottom: $pd-input;
//     color: $secondary_color;
//     resize: none;
//     padding: $pd_input;

//     &::-webkit-file-upload-button {
//         border: none;
//         padding: 10px 15px;
//         border-radius: 10px;
//         font-size: $input_font_size;
//         background-color: $bg_color_lighter;
//         color: $primary_color;
//         font-weight: $medium_font_weight;
//         cursor: pointer;
//         margin-right: 20px;
//         display: none;
//     }
// }

// button {
//     font-size: $input_font_size;
//     font-weight: $medium_font_weight;
//     border-radius: $button_radius;


//     cursor: pointer;
//     &[type="button"]{
//         padding: 7px 25px;
//     }

//     &[type="submit"]{
//         padding: $pd_button;
//         width: 100%;
//     }
    

//     &:last-child() {
//         margin-bottom: 0;
//     }
// }

// hr{
//     border:1px solid $bg_color_lighter;
//     margin: 30px 0;
// }