// colors
$primary_color: #111;
$secondary_color: #666;
$secondary_color_2: #afafaf;
$bg_color: #FFF;
$fg_color: #000;
$accent_color: #FF4848;
$accent_color_2: #FFA6A6;
$green: #0000a7;
// typography
$big_font_size: 46px;
$h1_font_size: 36px;
$h2_font_size: 26px;
$h3_font_size: 17px;
$p_font_size: 16px;
$input_font_size: 14px;
$button_font_size: 15px;
$bolder_font_weight: 800;
$bold_font_weight: 700;
$medium_font_weight: 600;
$light_font_weight: 500;
$lighter_font_weight: 400;
// margin and padding
$mb_auto: 0 auto;
$pd_super: 140px 0;
$pd_big: 140px 0;
$pd_medium: 110px 0;
$pd_small: 40px 0;
$pd_block: 80px 60px;
$pd_nav: 20px 0;
$pd_input: 14px 17px;
$pd_button: 10px 17px;
$pd_plate: 30px 20px;
$pd_medium_bottom: 0 0 80px 0;
// z-index
$z_tooltip: 10;
$z_fixed: 100;
$z_modal: 999;
$z_background: -2;
// media breakpoints
$breakpoint_desktop: 1550px;
$breakpoint_laptop: 1280px;
$breakpoint_tablet: 980px;
$breakpoint_phone: 700px;
$breakpoint_phone_two: 500px;
// border radius
$input_radius: 5px;
$button_radius: 5px;
$plate_radius: 13px;