@import 'vars';
@import 'style';

@media (max-width: $breakpoint_laptop) {
    .container {
        max-width: 1000px;
    
        &__fluid {
            max-width: 1230px;
        }
    }

    .header{
        &__nav{
            &-logo{
                &_img{
                    // margin-right: 0;

                }
            }
            &-li{
                margin: 0 20px;
            }
        }
    }

    .inner{
        &__block{
            padding: 60px 30px;
        }
    }
    

    .account{
        &__settings{
            &-form{
                &_input{
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: $breakpoint_tablet) {
    .auth{
        width: 50%;
    }
    .background{
        width: 50%;
    }

    .header{
        &__nav{
            &-ol{
                display: none;
            }
        }
        &__menu{
            display: block;
        }
    }

    .account{
        &__settings{
            &-form{
                &_input{
                    width: 100%;
                    margin-bottom: 20px;
                }
                &_line{
                    display: block;
                }
            }
        }
    }

    .wrapper{
        &__account{
            flex-direction: column;
            gap: 30px;
        }
    }

    .sidebar{
        width: 100%;
    }

    .footer{
        &__nav{
            justify-content:space-between;
        }
        &__inner{
            gap: 30px;
            flex-direction: column;
        }
        &__logo{
            display: none;
        }
    }
}

@media (max-width: $breakpoint_phone) {
    .wrapper{
        &__auth{
            justify-content: center;
            align-items: center;
        }
    }

    .background{
        display: none;
    }

    .auth{
        width: 100%;
        height: 100%;
    }

    .footer{
        &__nav{
            flex-direction: column;
            gap: 30px;
        }
    }

    .list{
        grid-template-columns: 1fr 1fr;
        &__mini{
            grid-template-columns: 1fr;
        }
    }

    .notification{
        width: 90%;
        animation: top 0.4s;
        &__list{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            bottom: 20px;
            width: 100%;
            right: 0px;
            left: 0px;
        }
        &.exit{
            animation: bottom 0.4s;
        }
    }

    .suggestion{
        display: none;
    }
}

@media (max-width: $breakpoint_phone_two) {
    .hero{
        &__content{
            align-items: initial;
        }
    }

    .tip{
        &__card{
            padding: 60px 40px;
        }
    }


}